/* =========HEADER===== */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .header-sidebar,
  .header-mobile-menu-open,
  .header-button {
    display: none;
  }
  .header-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--text-color);
  }
  .header-text {
    text-transform: uppercase;
    font-size: 14px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: centre;
  }
  .hero-info {
    width: 50%;
    margin-top: 80px;
  }
  .hero-nav {
    width: 50%;
    margin-top: 80px;
  }
  .hero-nav-item {
    font-size: 24px;
    margin-bottom: 26px;
  }
  .hero-social-link {
    width: 50px;
    height: 50px;
  }
  .hero-title {
    font-size: 66px;
    margin-bottom: 26px;
  }
  .hero-text {
    font-size: 24px;
    margin-bottom: 26px;
  }
  .about-title {
    font-size: 30px;
  }
  .about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .about-item {
    display: flex;
    justify-content: start;
    text-align: start;
    gap: 30px;
    margin-bottom: 30px;
    font-size: 26px;
  }
  .points-container {
    width: 150px;
    height: 150px;
  }
  .points_item_title {
    font-size: 20px;
  }
  .points_item_text {
    font-size: 16px;
  }
  .prices-title {
    font-size: 30px;
  }
  .price-container {
    margin-bottom: 40px;
  }
  .prices-list {
    gap: 60px;
  }
  .prices-item {
    padding: 100px 40px 40px;
  }
  .prices-item {
    padding: 20px 20px 20px;
    border: 1px solid var(--accent);
    border-radius: 12px;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .prices-item-title {
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .advantages-title {
    font-size: 30px;
  }
  .advantages-info-block1 {
    display: flex;

    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .advantages-info-block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .advantages-info-block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .advantages-info-block1 {
    margin-bottom: 0;
  }
  .advantages-info-block2-list {
    margin-top: 0;
  }
  .advantages-list-title {
    font-size: 16px;
  }

  .advantages-list-text {
    font-size: 12px;
  }
  .advantages-order-text {
    font-size: 16px;
  }
  .advantages-img2 {
    max-width: 400px;
  }
  .advantages-img1 {
    max-width: 400px;
    border-radius: 12px;
  }
  .box {
    padding: 15px;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 45px;
    height: 100%;
    grid-auto-flow: dense;
    align-items: center;
  }

  .item-1 {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
    border-radius: 24px;
  }
  .item-2 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
  }
  .item-3 {
    grid-row: 2/3;
  }
  .photo {
    max-width: 570px;
  }
  .photo-st {
    max-width: 280px;
  }
  .gallery-title {
    font-size: 30px;
  }
  .gallery-btn-text {
    font-size: 25px;
  }
  .gallery-link {
    font-size: 25px;
  }
  .comment-tittle {
    font-size: 30px;
  }

  .record-wrap {
    gap: 100px;
  }

  .record-info-title {
    font-size: 20px;
  }
  .info-text {
    font-size: 15px;
  }
  .input-wrap {
    font-size: 16px;
  }
  .footer-logo-text {
    font-size: 20px;
  }
  .footer-logo-title {
    font-size: 40px;
  }
  .footer-nav-item {
    font-size: 20px;
  }
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header-logo {
  font-weight: 600;
  font-size: 40px;
  color: var(--text-color);
}

.nav-link-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: var(--button-color);
  fill: var(--accent-font-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-social-icon:hover,
.nav-link-social-icon:focus {
  background-color: #d67d7d;
}

.header-item {
  font-size: 22px;
  color: var(--text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:hover,
.header-item:focus {
  color: #d67d7d;
}
/* ============HERO======== */

.hero-btn {
  color: white;
  font-family: "Raleway";
  font-size: 16px;
  padding: 20px 30px;
  background-color: var(--button-color);
  border-radius: 24px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-img {
  border-radius: 12px;
  width: 600px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #d67d7d;
}
/* ======ABOUT======= */

.about-points_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll-to-top {
  position: relative;
}

.btn-up-position {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 20;
}
.btn-up-style {
  background-color: var(--button-color);
  border: 1px solid inherit;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--accent-font-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.btn-up:hover {
  animation: none;
  background: var(--font-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ===============PRICES============ */

.prices-img {
  margin: 0 auto;
}

.prices-list-wrap {
  height: 250px;
}
.prices-item-list-item {
  font-family: "Raleway";
  font-size: 14px;
  margin-bottom: 12px;
  text-align: left;
  position: relative;
  margin-left: 15px;
}
.prices-item-list-item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  margin-right: 8px;
  position: absolute;
  left: -15px;
  top: 5px;
}

.price-text {
  font-family: "Raleway";
  font-size: 14px;
}
.price-sum {
  font-family: "Raleway";
  font-size: 14px;
}
.prices-btn {
  color: white;
  font-family: "Raleway";
  font-size: 16px;
  padding: 20px 30px;
  background-color: var(--button-color);
  border-radius: 24px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.prices-btn:hover,
.prices-btn:focus {
  background-color: #d67d7d;
}
/* =========ADVANTAGE========== */

/* ========GALLERY====== */

/* =====COMMENT===== */

/* =====RECORD====== */

/* =======FOOOTER======= */

.footer-nav-list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-nav-list {
  /* font-family: "Raleway";
  font-size: 15px;
  font-weight: 500; */
}
