/* =========HEADER===== */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header-sidebar,
  .header-mobile-menu-open,
  .header-button {
    display: none;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: centre;
  }
  .hero-info {
    width: 50%;
    margin-top: 80px;
  }
  .hero-nav {
    width: 50%;
    margin-top: 80px;
  }
  .hero-nav-item {
    font-size: 24px;
    margin-bottom: 26px;
  }
  .hero-social-link {
    width: 50px;
    height: 50px;
  }
  .hero-title {
    font-size: 66px;
    margin-bottom: 26px;
  }
  .hero-text {
    font-size: 24px;
    margin-bottom: 26px;
  }
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header-logo {
  font-weight: 600;
  font-size: 40px;
  color: var(--text-color);
}

.nav-link-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: var(--button-color);
  fill: var(--accent-font-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-social-icon:hover,
.nav-link-social-icon:focus {
  background-color: #d67d7d;
}

.header-item {
  font-size: 22px;
  color: var(--text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:hover,
.header-item:focus {
  color: #d67d7d;
}
/* ============HERO======== */

.hero-btn {
  color: white;
  font-family: "Raleway";
  font-size: 16px;
  padding: 20px 30px;
  background-color: var(--button-color);
  border-radius: 24px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-img {
  border-radius: 12px;
  width: 600px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #d67d7d;
}
/* ======ABOUT======= */

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.about-img {
  width: 300px;
  border-radius: 12px;
}
.about-item {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin-bottom: 30px;
  font-size: 26px;
}

.about_item_order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
.about-order-text {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  /* position: absolute; */
  /* top: 5px; */
  color: var(--secondary-text-color);
}
.about-points_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.points-container {
  width: 150px;
  height: 150px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  text-align: center;
  padding: 15px;
}

.points_item_title {
  margin-top: 20%;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.points_item_text {
  font-size: 16px;
}
.scroll-to-top {
  position: relative;
}

.btn-up-position {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 20;
}
.btn-up-style {
  background-color: var(--button-color);
  border: 1px solid inherit;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--accent-font-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.btn-up:hover {
  animation: none;
  background: var(--font-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
