<header>
  <section class="section header">
    <div class="container container-header">
      <a href="/" class="header-logo"
        >Iльнара Аідінова
        <img src="" />
      </a>

      <div class="headre-content">
        <ul class="header-list">
          <li>
            <a href="#about" class="header-item header__link--active"
              >Про мене</a
            >
          </li>
          <li>
            <a href="#prices" class="header-item header__link--active"
              >Послуги і ціни</a
            >
          </li>
          <li>
            <a href="#contacts" class="header-item header__link--active"
              >Контакти</a
            >
          </li>
        </ul>
      </div>

      <ul class="nav-link">
        <li class="nav-link-item">
          <a href="" class="nav-link-social-icon">
            <svg class="social-link" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="nav-link-social-icon">
            <svg class="social-link" width="26" height="26">
              <use href="./img/symbol-defs.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="nav-link-social-icon">
            <svg class="social-link" width="26" height="26">
              <use href="./img/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="nav-link-social-icon">
            <svg class="social-link" width="26" height="26">
              <use href="./img/symbol-defs.svg#icon-phone-call"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>
